
@font-face {
    font-family: 'glaho';
    src: url(../fonts/BPGGlahoWEBCaps.ttf);
    src: url(../fonts/BPGGlahoWEBCaps.eot);
    src: url(../fonts/BPGGlahoWEBCaps.woff);
    src: url(../fonts/BPGGlahoWEBCaps.woff2);
    }
@font-face {
        font-family: 'ninof';
        src: url(../fonts/BPGNinoMkhedruliBook.ttf);
        src: url(../fonts/BPGNinoMkhedruliBook.eot);
        src: url(../fonts/BPGNinoMkhedruliBook.woff);
        src: url(../fonts/BPGNinoMkhedruliBook.woff2);
        }
