@media only screen and (max-width: 992px) {
  .maincontainer {
    max-width: 992px;
    margin: auto;
  }
  .active {
    color: #fff;
  }
  header img {
    padding-left: 30px;
  }
  header nav {
    display: block;
    position: absolute;
    right: 0;
    top: 100px;
    width: 45%;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    -webkit-transition: -webkit-transform 0.3s ease-in;
    transition: -webkit-transform 0.3s ease-in;
    transition: transform 0.3s ease-in;
    transition: transform 0.3s ease-in, -webkit-transform 0.3s ease-in;
  }
  header ul {
    background: #b8edf8;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: calc(100vh - 100px);
  }
  header ul a {
    padding: 10px 0;
  }
  header .hdiv {
    margin-right: 30px;
  }
  #burger {
    display: block;
  }
  header nav a:hover {
    color: white;
  }
  .centerdivresp {
    width: 932px;
  }
  .worktype {
    width: 45%;
    height: 296px;
  }
  #do img {
    height: 74px;
    width: 47px;
  }
  #do p {
    width: 200px;
    margin: auto;
  }
  .imgh, .myproject {
    width: 451px;
    height: 250px;
  }
  .hovercontainer {
    height: 250px;
  }
  .overlay p {
    bottom: 75px;
  }
  .overlay .hoverimg {
    top: 90px;
  }
  .artist {
    margin-right: 30px;
    margin-left: 30px;
  }
  #aboutus aside {
    width: 44%;
    margin-left: 30px;
    margin-right: 30px;
  }
  #contact .inputsection, #contact .message {
    width: 555px;
  }
}

@media only screen and (max-width: 940px) and (min-width: 769px) {
  .worktypes {
    -webkit-box-pack: normal;
        -ms-flex-pack: normal;
            justify-content: normal;
  }
  .worktype {
    margin-left: 30px;
    width: 35%;
  }
  #center {
    max-width: 770px;
  }
  .myproject {
    width: 44%;
  }
  .imgh {
    width: 100%;
  }
  #aboutus .artist {
    width: 100%;
    padding: 0 30px;
    margin-top: 60px;
    margin-bottom: 100px;
  }
  #aboutus .artist p {
    padding-bottom: 60px;
  }
  #aboutus .artist img {
    width: 100%;
  }
  #aboutus aside {
    width: 90%;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 60px;
    margin: auto;
  }
}

@media only screen and (max-width: 768px) {
  .maincontainer {
    max-width: 768px;
    margin: auto;
  }
  .topbannertext h1 {
    font-size: 34px;
  }
  .topbannertext h3 {
    font-size: 28px;
  }
  .worktype {
    height: 296px;
    width: 44%;
  }
  .centerdivresp {
    width: 708px;
  }
  .imgh, .myproject {
    width: 335px;
    height: 180px;
  }
  #aboutus .artist {
    width: 647px;
    margin-bottom: 70px;
  }
  #aboutus img {
    -webkit-box-shadow: 50px 50px 0px 0px #b8edf8;
            box-shadow: 50px 50px 0px 0px #b8edf8;
  }
  #aboutus aside p {
    font-size: 14px;
    width: 690px;
  }
  #aboutus aside {
    margin-bottom: 60px;
  }
  .aboutusaside {
    padding-top: 60px;
    width: 690px;
  }
  .aboutusaside .lineus {
    margin-bottom: 20px;
  }
}

#contact {
  background: #b8edf8;
  height: 636px;
}

#contact .inputsection {
  width: 690px;
  height: 40px;
}

#contact .message {
  height: 109px;
  width: 690px;
}

#contact .inputp {
  width: 690px;
}

@media only screen and (max-width: 750px) and (min-width: 578px) {
  #aboutus .artist {
    width: 478px;
  }
  #aboutus .artist img {
    -webkit-box-shadow: 30px 30px 0px 0px #b8edf8;
            box-shadow: 30px 30px 0px 0px #b8edf8;
    width: 90%;
  }
}

@media only screen and (max-width: 576px) {
  .maincontainer {
    max-width: 576px;
    margin: auto;
  }
  header nav {
    width: 100%;
  }
  .topbannertext h1 {
    font-size: 24px;
  }
  .topbannertext h3 {
    font-size: 20px;
  }
  .worktype {
    width: 516px;
    height: 300px;
    margin-bottom: 25px;
    margin-left: auto;
    margin-right: auto;
  }
  .centerdivresp {
    width: 516px;
  }
  .imgh, .myproject {
    width: 335px;
    height: 180px;
  }
  #do p {
    width: 422px;
  }
  #works h2 {
    padding-top: 25px;
  }
  #aboutus aside p {
    font-size: 14px;
    width: 450px;
  }
  #aboutus .artist {
    width: 478px;
    height: 426px;
    margin-bottom: 60px;
  }
  #aboutus img {
    -webkit-box-shadow: 50px 50px 0px 0px #b8edf8;
            box-shadow: 50px 50px 0px 0px #b8edf8;
  }
  .imgh, .myproject {
    width: 516px;
    height: 286px;
  }
  .aboutusaside {
    padding-top: 60px;
    width: 450px;
  }
  .aboutusaside .lineus {
    margin-bottom: 20px;
  }
}

#contact {
  height: 536px;
}

#contact .inputsection {
  width: 518px;
  height: 40px;
}

#contact .message {
  height: 109px;
  width: 518px;
}

#contact .inputp {
  width: 518px;
}

.footercenter {
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.overlay_nav a {
  padding-top: 36px;
  font-size: 24px;
}

footer p {
  width: 46%;
}

@media only screen and (max-width: 555px) {
  header img {
    height: 22px;
  }
  #burger {
    font-size: 22px;
    padding-left: 20px;
  }
  .topbannertext h1 {
    font-size: 20px;
  }
  .topbannertext h3 {
    font-size: 18px;
  }
  .centerdivresp {
    width: 360px;
  }
  #do p {
    width: 300px;
  }
  .worktypes {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .worktype {
    width: 300px;
  }
  .imgh, .myproject {
    width: 300px;
  }
  #aboutus aside {
    padding-bottom: 60px;
  }
  #aboutus aside p {
    font-size: 14px;
    width: 250px;
  }
  .centerdiv {
    max-width: 360px;
  }
  #aboutus .artist {
    width: 250px;
    margin-right: auto;
  }
  #aboutus .artist img {
    -webkit-box-shadow: 10px 10px 0px 0px #b8edf8;
            box-shadow: 10px 10px 0px 0px #b8edf8;
  }
  #contact .inputsection {
    width: 95%;
  }
  #contact .message {
    width: 95%;
  }
  #contact .inputp {
    width: 95%;
  }
  footer img {
    height: 20px;
    margin-top: 20px;
  }
  .footercenter {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  footer p {
    width: 30%;
  }
}
/*# sourceMappingURL=responsive.css.map */