
@media only screen and (max-width: 992px) 
  {  
  header {
      img {
          padding-left: 30px;
      }
      
      nav {
          display: none;
      }

      .burger {
          display: block;
          margin-right: 20px;
      }
      .hdiv {
          margin-right: 30px;
      }
}
.centerdiv{
    max-width: 992px;
}
.worktype {
    width: 450px;
    height: 296px;
    margin-bottom: 30px;
}
#do img {
    height: 74px;
    width: 47px;
    
}
.imgh, .myproject{
    width: 450px;
    height: 250px;
}
#contact {
   .inputsection, .message{
       width: 555px;
   }
}
}