
@media only screen and (max-width: 992px) 
  {  
  header {
      img {
          padding-left: 30px;
      }
      
      nav {
          display: none;
      }

      .burger {
          display: block;
          margin-right: 20px;
      }
      .hdiv {
          margin-right: 30px;
      }
}

}