@font-face {
  font-family: 'glaho';
  src: url(../fonts/BPGGlahoWEBCaps.ttf);
  src: url(../fonts/BPGGlahoWEBCaps.eot);
  src: url(../fonts/BPGGlahoWEBCaps.woff);
  src: url(../fonts/BPGGlahoWEBCaps.woff2);
}

@font-face {
  font-family: 'ninof';
  src: url(../fonts/BPGNinoMkhedruliBook.ttf);
  src: url(../fonts/BPGNinoMkhedruliBook.eot);
  src: url(../fonts/BPGNinoMkhedruliBook.woff);
  src: url(../fonts/BPGNinoMkhedruliBook.woff2);
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: '';
  content: none;
}

q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

button {
  background-color: transparent;
  outline: none;
  border: 0;
  cursor: pointer;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.centerdiv {
  margin: auto;
  max-width: 1140px;
}

.centerdiv h2 {
  font-size: 24px;
  text-align: center;
  padding-top: 60px;
  padding-bottom: 15px;
  color: black;
  font-family: 'glaho';
}

.maincontainer {
  max-width: 1366px;
  width: 100%;
}

header, header .hdiv, header ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-line-pack: center;
  align-content: center;
}

header {
  margin: auto;
  max-width: 1306px;
  height: 100px;
}

header img {
  height: 32px;
}

header li {
  margin-left: 40px;
}

header nav a {
  color: black;
  font-size: 20px;
  font-family: 'glaho';
}

header nav a:hover {
  background-color: transparent;
  color: #b8edf8;
}

#topbanner {
  background-image: url("../img/header.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 600px;
  width: 100%;
  background-position: center;
}

.topbannertext {
  margin: auto;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 600px;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.topbannertext h1 {
  font-size: 40px;
  width: 100%;
  margin-bottom: 15px;
  font-family: 'glaho';
}

.topbannertext h3 {
  font-size: 30px;
  width: 100%;
  font-family: 'ninof';
}

#do h3 {
  font-size: 18px;
  text-align: center;
  margin-bottom: 15px;
  color: black;
  font-family: 'glaho';
}

#do p {
  font-size: 16px;
  text-align: center;
  margin-top: 15px;
  color: #666666;
  font-family: 'ninof';
}

#do img {
  height: 90px;
  margin-top: 30px;
  margin-bottom: 15px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.line {
  height: 2px;
  width: 93px;
  background: black;
  margin: auto;
  margin-bottom: 60px;
}

.worktype {
  width: 270px;
  height: 300px;
  border: 1px solid #B2B2B2;
}

.worktypes, .myprojects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-line-pack: center;
  align-content: center;
}

.lineblue {
  height: 2px;
  width: 25px;
  background: #b8edf8;
  margin: auto;
  margin-bottom: 45px;
  margin-top: 15px;
}

#works {
  margin-bottom: 40px;
}

.myproject {
  width: 362px;
  position: relative;
}

.myproject p {
  position: absolute;
  font-family: 'glaho';
  font-size: 18px;
  text-align: center;
  color: white;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.hovercontainer {
  position: relative;
}

.imgh {
  width: 362px;
  height: 200px;
  margin-bottom: 20px;
  display: block;
}

.hoverimg {
  position: absolute;
  width: 44px;
  height: 44px;
  left: 30%;
  top: 30%;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  -webkit-transition: .5s ease;
  transition: .5s ease;
  background-color: #B8EDF8;
}

.overlay:hover {
  opacity: 0.9;
}

#aboutus {
  background-color: #F1F1F1;
  height: 490px;
}

#aboutus img {
  width: 370px;
  height: 330px;
  margin-top: 60px;
}

#aboutus aside {
  display: inline-block;
}

#aboutus aside p {
  font-size: 16px;
  color: #666666;
  margin-bottom: 30px;
  font-family: 'ninof';
}

.artwork {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-line-pack: center;
  align-content: center;
}

.aboutusaside {
  width: 550px;
}

.aboutusaside h2 {
  text-align: left;
}

.aboutusaside .lineus {
  height: 2px;
  width: 93px;
  background: black;
  margin-bottom: 60px;
}

#contact {
  background: #b8edf8;
  height: 536px;
}

#contact .inputsection {
  width: 535px;
  height: 35px;
  margin: auto;
  font-size: 14px;
  padding-left: 25px;
  color: #989898;
  font-family: 'nino';
  border: 1px solid #333333;
  background: none;
  outline: none;
  margin-bottom: 20px;
  display: block;
}

#contact .message {
  height: 114px;
  font-size: 14px;
  padding-left: 25px;
  margin: auto;
  margin-bottom: 20px;
  color: #989898;
  border: 1px solid #333333;
  font-family: 'nino';
  width: 535px;
  outline: none;
  background: none;
  display: block;
  margin: auto;
}

#contact .inputp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  width: 535px;
  margin: auto;
  margin-top: 15px;
}

#contact p {
  text-align: left;
  font-size: 14px;
  color: #666666;
  font-family: 'nino';
  background: none;
}

#contact .inputsubmits {
  background-color: white;
  color: #7ec4ce;
  border: 1px solid #7ec4ce;
  height: 30px;
  width: 80px;
  text-align: center;
  font-family: 'glaho';
  font-size: 14px;
  outline: none;
  padding: 0px;
}

footer {
  background: #313332;
}

footer .footercenter {
  margin-left: 35px;
  margin-right: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  height: 100px;
}

footer p {
  text-align: left;
  font-size: 14px;
  color: white;
  font-family: 'nino';
  background: none;
}

footer img {
  height: 32px;
}
/*# sourceMappingURL=style.css.map */