
@import 'fonts.scss';
@import 'reset.scss';
@import 'mixins.scss';
@import 'privateelements.scss';
@import 'variable.scss';

.centerdiv{
  margin: auto;
  max-width: 1140px;

    h2 {
        font-size: $fonts24;
        text-align: center;
        padding-top: 60px;
        padding-bottom: 15px;
        color: $colorbl;
        font-family: 'glaho';
    }
}
.maincontainer {
  width: $width100;
  margin:auto;
}

header,.hdiv, header ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-line-pack: center;
  align-content: center;
   }
  
header {
  margin: auto;
  max-width: 1306px;
  height: 100px;
  
      img {
        height: 32px;
          } 
      li {
        margin-left: 30px; 
        }

      nav a {
        color: $colorbl;
        font-size: $fonts20;
        font-family: 'glaho';
            }
      
      nav a:hover {
        background-color: transparent;
        color: $colorhover; 
      }
      
    }

    // burger start
    
       
      .dropdown {
      overflow: hidden;
     }
    
      .dropdown .dropbtn {
      border: 1px solid $colorwhite;
      outline: none;
      color: $colorwhite;
     }
     
      .dropdown:hover  {
      display: none;
      transition: $transition3;
     }
      
     .dropdownmenu {
      overflow: hidden;
      
    }
    .burger {
      height: 27px;
      // margin-left: 20px;
      display: none;
    }
    #dropdown-content {
      display: none;
      position: absolute;
      background-color: #f9f9f9;
      min-width: 600px;
      z-index: 1;
    }
    .dropdown-content a:hover {
      background-color: $colorgrey;
      color: $colorwhite;
    }
    // header ends
    // banner section  start
#topbanner {
  background-image: url("../img/header.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 600px;
  width: $width100;
  background-position: center;
    }
.topbannertext {
  margin: auto;
  color: $colorwhite;
  display:flex;
  justify-content: center;
  flex-wrap: wrap;
  height: 600px;
  align-content: center;
  align-items: center;
  text-align:center;

      h1 {
        font-size: $fonts40;
        width: $width100;
        margin-bottom: 15px;
        font-family: 'glaho';
          }
      h3 {
        font-size: $fonts30;
        width: $width100;
        font-family: 'ninof';
        
      }
}
      // banner section  end
 
#do {
  
      h3{
        font-size: $fonts18;
        text-align: center;
        margin-bottom: 15px;
        color: $colorbl;
        font-family: 'glaho';

      }
      p {
        font-size: $fonts16;
        text-align: center;
        margin-top: 15px;
        color: $colorgrey;
        font-family: 'ninof';
      }
      img {
        height: 90px;
        margin-top: 30px;
        margin-bottom:15px;
        margin-left:auto;
        margin-right:auto;
        display: block;
      }
  
}
.line{
  height: 2px;
  width: 93px;
  background: $colorbl;
  margin: auto;
  margin-bottom: 60px;
}
.worktype{
  width: 270px;
  height: 300px;
  border: 1px solid #B2B2B2;
}

.worktypes{
  display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-line-pack: center;
    align-content: center;
}
.myprojects {display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-around;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-line-pack: center;
    align-content: center;
}
.lineblue{
  height: 2px;
  width: 25px;
  background: $colorhover;
  margin: auto;
  margin-bottom: 45px;
  margin-top: 15px;
}

#works{
  margin-bottom: 40px;   
}


.myproject{
  width: 362px;
  position: relative;
  height: 200px;
  margin-bottom: 30px;

  }
.overlay {
  p {
    position: absolute;
    font-family: 'glaho';
    font-size: $fonts18;
    text-align: center;
    color: $colorwhite;
    bottom: 53px;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 362px;;
  }
  .hoverimg {
    position: absolute;
    width: 44px;
    height: 44px;
    left: 44%;
    top: 70px;
    margin-bottom: 15px;
  }
}
.hovercontainer{
  position: relative;
  height: 200px;
  margin-bottom: 20px;
}

.imgh{
  
  width: 364px;
  display: block;
  border: 2px solid $colorhover;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .4s ease;
  background-color: #B8EDF8;
}
.overlay:hover {
 opacity: 0.9;   
}
#aboutus {
  background-color: #F1F1F1;
  
  .artist {
    width: 370px;
    height: 330px;
    margin-top: 60px;
    margin-bottom: 100px;
  }
      img {
        height: 100%;
        box-shadow: 30px 30px 0px 0px rgba(184,237,248,1);
      }
      aside 
      {
        display: inline-block;
      p {
          font-size: $fonts16;
          color: $colorgrey;
          font-family: 'ninof';
          padding-top: 20px;
        }
  }
}

.artwork{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;

}
.aboutusaside {
  width: 550px;
  padding-top: 60px;
      h2 {
        text-align: left;
        padding-top: 0px;
      }

      .lineus{
        height: 2px;
        width: 93px;
        background: $colorbl;
        margin-bottom:40px;
      }
}

#contact{
  background: $colorhover;
  height: 536px;
      
     .inputsection {
        width: 535px;
        height: 35px;
        margin:auto;
        font-size: $fonts14;
        padding-left: 25px;
        color: $colorg;
        font-family: 'nino';   
        border: 1px solid $colorginputborder;
        background: none; 
        outline: none;
        margin-bottom: 20px;
        display:block;
      }
     .message {
        height: 114px;
        font-size: $fonts14;
        padding-left: 25px;
        margin:auto;
        margin-bottom: 20px;
        color: $colorg;
        border: 1px solid $colorginputborder;
        font-family: 'nino'; 
        width: 535px;
        outline: none; 
        background: none;
        display:block;
        padding-top: 10px;
        
    }
     .inputp {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        align-content: center;
        width: 535px;
        margin: auto;
        margin-top: 15px;
        }
    p{
        text-align: left;
        font-size: $fonts14;
        color: $colorgrey;
        font-family: 'nino';   
        background: none; 
    }
    .inputsubmits {
        background-color: $colorbutton;
        color: $colorwhite;
        height: 30px;
        width: 80px;
        text-align: center;
        font-family: 'glaho';
        font-size: $fonts14;
        outline: none;
        padding: 0px;
        border: none;
            }
    .inputsubmits:hover {
      background-color: $colorwhite;
      color: $colorbutton;
      border: 1px solid $colorbutton;
      outline: none;
      
          }        
}

footer {
  background: $colorfooter;
      .footercenter{
          margin-left: 35px;
          margin-right: 35px;
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;
          align-items: center;
          align-content: center;
          height: 100px;
      }
      p {
        text-align: left;
        font-size: $fonts14;
        color: $colorwhite;
        font-family: 'nino';   
        background: none;
        width: 360px;
}
      img {
        height: 32px;
    }

}
#back2Top {
  width: 40px;
  line-height: 40px;
  overflow: hidden;
  z-index: 999;
  display: none;
  cursor: pointer;
  -moz-transform: rotate(270deg);
  -webkit-transform: rotate(270deg);
  -o-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  transform: rotate(270deg);
  position: fixed;
  bottom: 0px;
  right:5px;
  text-align: center;
  font-size: 20px;
  text-decoration: none;
  border-radius: 40px;
  color: $colorwhite;
  background-color: $colorbutton;
}
#back2Top:hover {
  background: $colorbl ;
  color: $colorgrey;

}

@import 'responsive.scss';
