// colors
$colorbl: #0000;
$colorwhite: #FFFFFF;

// color rgba 
$colorrgbahover: rgba( 62, 198, 255, 0.7);
$colorrgbabg: rgba( 255, 255, 255, 0.7);
$colorrgbabginput: rgba(134, 134, 134, 0.4);
$colorrgbainputsection: rgba(134, 134, 134, 0.6);


// fonts

$fonts20: 20px;
$fonts24: 24px;
$fonts30: 30px;
$fonts40: 40px;


// // border 
// $borderr7:7px;
// $borderr10:10px;

// width percent
$width70: 70%;
$width80: 80%;
$width95:95%;
$width100:100%;
// text-align
$text-alignc: center;

// //   letter-spacing
// $letter-spacing2: 2px;
// $letter-spacing7: 7px;
// $letter-spacing10: 10px;
// $letter-spacing12: 12px;

// //   word-spacing
// $word-spacing7: 7px;
// $word-spacing12: 12px;

// // transition
// $transition04: 0.4s;
// $transition1: 1s;
// $transition2: 2s;
// $transition3: 3s;
// $transition4: 4s;