// colors
$colorbl: rgb(0,0,0);
$colorwhite: rgb(255,255,255);
$colorhover: rgb(184,237,248);
$colorgrey: rgb(102,102,102);
$colorbutton: rgb(126, 196, 206);
$colorfooter: rgb(49, 51, 50);
$colorg: rgb(152, 152 , 152);

// fonts
$fonts14: 14px;
$fonts16: 16px;
$fonts18: 18px;
$fonts20: 20px;
$fonts24: 24px;
$fonts30: 30px;
$fonts40: 40px;


// width percent
$width70: 70%;
$width80: 80%;
$width95: 95%;
$width100:100%;
// text-align
$text-alignc: center;

// //   letter-spacing
// $letter-spacing2: 2px;
// $letter-spacing7: 7px;
// $letter-spacing10: 10px;
// $letter-spacing12: 12px;

// //   word-spacing
// $word-spacing7: 7px;
// $word-spacing12: 12px;

// // transition
// $transition04: 0.4s;
// $transition1: 1s;
// $transition2: 2s;
// $transition3: 3s;
// $transition4: 4s;